body {
  background-image: url("../images/food.png");
  background-repeat: repeat;
}

li {
  padding: 5px;
  margin: 5px;
  background: lightgray;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: lightgray;
  list-style-type: none;
}

.form-group {
  margin-bottom: 5px;
}

/* https://lh5.googleusercontent.com/proxy/LxExxkEfMp8I0r7q6kvQTgqaClHmAfupoVFIEobaP4rbZaGs3Cqm3v7Ml-E7Q9G64H0WWYgHH5idFKuEB60BDgaOMHziaQ */
